*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#68e664, #e591de);
}

.box{
    border: 2px solid black;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.appname{
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: deeppink;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.appname h3{
    font-size: 30px;
    font-weight: bold;
}

.qna-box{
    width: 100%;
    height: 300px;
    align-items: center;
    text-align: center;
    margin-top: 50px;

}

.question{
    font-size: 20px;
    font-weight: bold;


}

ul{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

li{
    width: 101%;
    border: 1px solid black;
    margin-top: 20px;
    font-size: 20px;
    height: 30px;
    list-style-type: none;
    cursor: pointer;
}

button{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    font-size: 20px;
    background-color: deeppink;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.next:hover{
    background-color: rgb(212, 19, 122);
    transition: ease;
}

.right{
    background-color: greenyellow;
    transition: ease;
}

.wrong{
    background-color: red;
    transition: ease;
}

.scoreboard{
    height: 41px;
    margin-top: 24px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: black;
    color: rgb(212, 19, 122);
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.finalbox{
    width: 80%;
    height: 300px;
    border: 2px solid deeppink;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(13, 13, 131);
    margin-left: 40px;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.finalscoreboard{
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}